$db_host                = '{{ MYSQL_HOST }}';
$db_port                = '{{ MYSQL_PORT }}';
$db_user                = '{{ MYSQL_USER }}';
$db_pass                = '{{ MYSQL_PASSWORD }}';
$db_name                = '{{ MYSQL_DB }}';
$db_type                = 'mysql';
$session_key            = 'session_key';