{{item.log_path}}{
  # do not use time based rotation, but size-based
  #size 1000k
  daily
  # do not move, but copy-and-truncate so the application will not have to be
  # told that the file has moved.
  copytruncate
  # maximum of one old file
  rotate 5
  # counting old files starts at 1 rather than 0
  start 1
  # do not use compression
  compress
}
