
##########################################
# App {{item.log_name}}
$InputFileName {{item.log_path}}
$InputFileTag {{item.log_name}}
$InputFileStateFile stat-{{item.log_name}}
$InputFileSeverity info
$InputRunFileMonitor
##########################################

